body, #content {
    font-family: 'Courier New', Courier, monospace; /* Change to a gaming font if desired */
    margin: 0;
    padding: 0;
    display: flex; /* Add display flex to body */
    flex-direction: column; /* Make sure the body is a column flex container */
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
}

/* Logo styling */
.logo {
    width: 40px;
    height: auto;
    /* display: inline-block; */
    float: left;
    margin-top: 10px !important;
    margin-bottom: 24px !important;
    margin-left: 10px !important;
    
}

/* Header Styles */
.header {
    background-color: #4CAF50; /* Green header */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2em; /* Increase font size for the title */
    text-transform: uppercase; /* Uppercase for a bolder look */

}

/* Navigation Styles */
.nav {
    font-family: 'Courier New', Courier, monospace; /* Change to a gaming font if desired */
    background-color: #222 !important;/* Dark background for the navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) !important;
    position: fixed; /* Fix navbar to the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
}

.nav ul {
    list-style-type: none !important;
    padding: 10px 0 !important;
    
    text-align: center !important;
    /* margin-left: -50px; */
}

.nav li {
    display: inline !important;
    margin: 0 15px !important;
}
.nav a {
    text-decoration: none !important;
    
    color: #4CAF50 !important; /* Green link color */
    padding: 10px 15px !important;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    transition: background-color 0.3s !important;
    
}

.nav a:hover {
    background-color: rgba(76, 175, 80, 0.2) !important; /* Light green on hover */
}

.nav a.active {
    font-weight: bold !important;
    border-bottom: 2px solid #4CAF50 !important;
}

/* Main Content Styles */
.main-content {
    text-align: center;
    margin: 80px auto; /* Space below the fixed nav */
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Button Styles */
.btn {
    display: inline-block !important;
    padding: 10px 20px; 
    background-color: #4CAF50 !important;/* Green button */ 
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 0 px;
}
.btn[disabled] {
    background-color: #ccc;  /* Light grey color for disabled buttons */
    cursor: not-allowed;     /* Change cursor to indicate it's disabled */
    color: #666;             /* Slightly darker text for disabled look */
}

.btn:hover {
    background-color: #28692b !important; /* Darker green on hover */
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #343a40; /* Dark footer */
    color: white;
    width: 100%;
    margin-top: auto; /* Space below content */
    
}

/* Responsive: display on different screens devices */
@media (max-width: 768px) {
    .custom-navbar {
        margin-left: 0; 
    }
    .nav ul {
        list-style-type: none;
        text-align: left !important;
        padding: 10px 0px;
    }
}