<!DOCTYPE html>
<html lang="en">
    <!-- ensure that static folder is available for use on this template -->
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles-v2.css' %}">
    <title>GamePlan Login</title>
</head>
<body>
    <header class="header">
        <!-- Game Plan Calendar logo -->
        
        <h1>GamePlan Login</h1>

    </header>
    
    {% include 'navbar.html' %}
<h1> Login </h1>
<form class="form-with-validation" action= "{% url 'login' %}" method="post"> 
  {{form}}
  {% csrf_token %}
  <button class="btn">Submit</button>
  
  <p><a href="{% url 'register' %}"" class="btn" role="button">Register</a></p> 
</form>
</body>
</html>