{% extends "base_template.html" %}

{% block title %}Login{% endblock %}
{% block content %}
    <!-- ensure that static folder is available for use on this template -->
{% load static %}

<body>
    <header class="header">
        <!-- Game Plan Calendar logo -->
        
        <h1>GamePlan Login</h1>

    </header>
    
 
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}  
    
<h1> Login </h1>
<div class="col-md-6">
    <form class="form-with-validation mb-3" action= "{% url 'login' %}" method="post"> 
    {{form}}
    {% csrf_token %}
    <button class="btn" type = "submit">Submit</button>
    
    <p class="mt-4 mb-3"><a href="{% url 'register' %}"" class="btn" role="button">Register</a></p> 
    </form>
</div>
</body>

{% endblock %}