{% extends "base_template.html" %} 

<head>
    {% load static %}  <!-- Load the static tag library -->


    <link rel="stylesheet" type="text/css" href="{% static 'calendar/styles.css' %}">

    {% block title %}Event Details{% endblock %}
</head>

{% block content %}


<body>

    <div class="container mt-5">
        <h1>{{ event.title }}</h1>
        <p>{{ event.description }}</p>
        <p><strong>Start Time:</strong> {{ event.start_time }}</p>
        <p><strong>End Time:</strong> {{ event.end_time }}</p>
        <!-- Display priority -->
        <p><strong>Priority:</strong> {{ event.get_priority_display }}</p>
        <!-- Display associated game -->
        <p><strong>Video Game:</strong> {{ event.game.name }}</p>
        <p><strong>Platform:</strong> {{ event.game.get_platform_display }}</p>
        <p><strong>Genre:</strong> {{ event.game.genre }}</p>
        <div style="width: 500px; height: 500px; padding-bottom: 10px;" >
            {% if event.game.picture_upload %}
                <img src="{{ event.game.picture_upload.url }}" style="display: block;"/>
            {% elif event.game.picture_link %}
                <img src="{{ event.game.picture_link }}" alt="Image for {{ event.game.name }}" style="display: block;" />
            {% else %}
                <img src="{% static 'images/game-icon.jpg' %}" alt="Default game image" class="game-image" style="display: block;" />
            {% endif %}
        </div>
            
        <!-- Buttons for back to calendar and edit event -->
        <div class="clearfix">
            <a class="btn left" href="{% url 'calendar' owner.id %}">Back to Calendar</a>
            
            {% if is_friend %}
            {% else %}
                <a class="btn right" href="{% url 'event_edit' event.id %}">Edit Event</a>
                <a class="btn center" href="{% url 'delete_event' user.id event.id%}" role="button" style="background-color: red !important;">Delete</a>
            {% endif %}
        </div>
        
    </div>



    
</body>

</html>
{% endblock %}