<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles-v2.css' %}">
    <title>GamePlan</title>
</head>
<body>
    <header class="header">
        <!-- Game Plan Calendar logo -->
        <img src="{% static 'images/game-icon.jpg' %}" alt="GamePlan Logo" class="logo">
        <h1>Welcome to GamePlan!</h1>
        <p class="lead">The ultimate planner for gamers.</p>
    </header>

    <nav class="nav">
        <ul>
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="{% url 'calendar' %}">Calendar</a></li>
            <li><a href="#settings">Settings</a></li>
        </ul>
    </nav>

    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <main class="main-content">
                <img src="{% static 'images/game-icon.jpg' %}" class="img" alt="Game Icon Image">
                <p>This is a beautiful landing page designed to engage users.</p>
                <a href="/login" class="btn">Get Started</a>
            </main>
        </div>
        <div id="events" class="tab-pane">
            <div class="main-content">
                <h2>Upcoming Events</h2>
                <p>List of gaming events coming up!</p>
            </div>
        </div>
        <div id="calendar" class="tab-pane">
            <div class="main-content">
                <h2>Your Calendar</h2>
                <p>Here’s your gaming calendar!</p>
            </div>
        </div>
        <div id="settings" class="tab-pane">
            <div class="main-content">
                <h2>Settings</h2>
                <p>Customize your experience!</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>Created by Group 2</p>
    </footer>
</body>
</html>