{% extends "base_template.html" %}
{% load static %} 

{% block title %}Homepage{% endblock %}

{% block content %}
    <header class="header text-center">
        <h1>Welcome to GamePlan!</h1>
        <p class="lead">The ultimate planner for gamers.</p>
    </header>

    <!-- Currently Playing Games Section -->
    {% if user.is_authenticated %}
        <div class="todo-list-page text-center mt-5">
            <h2>Games You Are Currently Playing</h2>
            
            {% if currently_playing_games %}
                <div class="main-content">
                    {% for game in currently_playing_games %}
                    <div class="game-section">
                        <!-- Link to edit game -->
                        <a href="{% url 'edit_game' game.id %}" class="game-section-link">
                            <!-- Display Game Image or Default Image -->
                            {% if game.picture_link %}
                                <img src="{{ game.picture_link }}" alt="Image for {{ game.name }}" class="game-image">
                            {% else %}
                                <img src="{% static 'images/game-icon.jpg' %}" alt="Default game image" class="game-image">
                            {% endif %}
                            <h2>{{ game.name }}</h2>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-muted">You're not currently playing any games.</p>
            {% endif %}
        </div>
    {% else %}
        <div class="text-center mt-5">
            <p>Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a> to view your game calendar.</p>
        </div>
    {% endif %}
{% endblock %}