<!DOCTYPE html>
<html>
<!-- ensure that static folder is available for use on this template -->
{% load static %}
<head>
      <title>HTML Login Form</title>
      <!-- use the csss common style v2 -->
      <link rel="stylesheet" href="{% static 'styles-v2.css' %}">
</head>

<body>
      <!-- including common navbar file on login page  -->
      {% include 'navbar.html' %}
      <div class="main">
            <h1>Gameplan</h1>
            <h3>Enter your login credentials</h3>
            <form action="">
                  <label for="first">
                        Username:
                  </label>
                  <input type="text" 
                         id="first" 
                         name="first" 
                         placeholder="Enter your Username" required>

                  <label for="password">
                        Password:
                  </label>
                  <input type="password"
                         id="password" 
                         name="password"
                         placeholder="Enter your Password" required>

                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Submit
                        </button>
                  </div>
            </form>
            <p>Not registered?
                  <a href="{% url 'register' %}"
                     style="text-decoration: none;">
                        Create an account
                  </a>
            </p>
      </div>
</body>

</html>
