<!-- ensure that static folder is available for use on this template -->
{% load static %}
<!-- Used bootstrap to make sure sticky navigation bar with game-logo on the left and routes to other pages -->
<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!-- game-logo -->
    <img src="{% static 'images/game-logo.png' %}" alt="GamePlan Logo" class="logo">
    <!-- <nav class="nav"> -->
        <ul>
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
            <li><a href="#events">Events</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'calendar' user.id%}">Calendar</a></li>
                <li><a href="{% url 'user_page' %}">Account</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {%endif%}
            

        </ul>
    </nav>
